ion-icon {
    pointer-events: none;
  }
html{
    height: 100%;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: red;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}